
body{
	padding:0;
	margin:0;
	background:#fff;
	position:relative;
	font-family: 'Montserrat', sans-serif;
}
body a{
    transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
a:hover{
	text-decoration:none;
}
input[type="button"],input[type="submit"],.contact-form input[type="submit"]{
	transition:0.5s all;
	-webkit-transition:0.5s all;
	-moz-transition:0.5s all;
	-o-transition:0.5s all;
	-ms-transition:0.5s all;
}
h1,h2,h3,h4,h5,h6{
	margin:0;	
}	
p{
	margin:0;
	font-family: 'Open Sans', sans-serif;
}
ul{
	margin:0;
	padding:0;
}
label{
	margin:0;
}
img{
	width:100%;
}
/*--header--*/


/*-- navbar --*/
.bg-faded {
    background: #f85a40;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.open, .navbar-light .navbar-nav .open>.nav-link {
    color: #eee;
}
.navbar-light .navbar-nav .nav-link {
    color: #eee;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 1px;
}
.dropdown-item {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 15px;
    color: #333;
}
li.nav-item {
    margin: 0 20px;
    color: #fff;
}
/*-- //navbar --*/

/*-- header top --*/
.headder-w3, .w3-header-top-right-text, .email-right, .agileinfo-social-grids {
    -webkit-flex: 1;
    -ms-flex: 1;
    flex: 1;
}
.headder-w3 a {
    color: #1b1b1b;
    font-weight: 800;
    font-size: 40px;
}
h6.caption {
    font-size: 20px;
    color: #333;
}
.email-right p a, .w3-header-top-right-text p, .agileinfo-social-grids ul li a {
    font-size: 14px;
    color: #7b7b7b;
    letter-spacing: 2px;
}
.agileinfo-social-grids ul li a {
    font-size: 13px;
    border: 1px dashed #6b6b6b;
    margin: 0 2px;
    width: 30px;
    height: 30px;
    line-height: 30px;
    display: block;
    color: #6b6b6b;
}
.email-right p a:hover, .w3-header-top-right-text p:hover, .agileinfo-social-grids ul li a:hover{
    color: #f14156;
}
.agileinfo-social-grids ul li a:hover {
    color: #f14156;
    border: 1px dashed #f14156;
}
/*-- //header top --*/

/*-- modal --*/
.modal-body {
    font-size: 15px;
    line-height: 28px;
    color: #2a2a2a;
}
.modal-title {
    font-size: 30px;
    font-weight: 700;
    color: #333;
}
/*-- //modal --*/

/*-- banner-slider --*/
.electrial-banner-top{
    background: url(../images/2.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
	min-height:650px;
}
.electrial-banner-top1{
    background: url(../images/3.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
}
.electrial-banner-top2{
    background: url(../images/4.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
}
.electrial-banner-top3{
    background: url(../images/3.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
}
.electrial-banner-top4{
    background: url(../images/4.jpg) no-repeat 0px 0px;
    background-size: cover;	
	-webkit-background-size: cover;	
	-moz-background-size: cover;
	-o-background-size: cover;		
	-moz-background-size: cover;
}
.bs-slider-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
	background: url(../images/dott.png)repeat 0px 0px;
    background-size: 2px;
    -webkit-background-size: 2px;
    -moz-background-size: 2px;
    -o-background-size: 2px;
    -ms-background-size: 2px;
}
.w3l-slide-text {
    margin-top: 13em;
}
.w3l-slide-text h3 {
    color: #fff;
    font-size: 55px;
	font-weight: 600;
    letter-spacing: 3px;
    text-transform: uppercase;
    text-shadow: 2px 2px 3px #292828;
    -webkit-animation-delay: 0.7s;
    animation-delay: 0.7s;
}
.w3l-slide-text p {
    color: #d6d6d6;
    letter-spacing: 3px;
    text-shadow: 1px 1px 4.8px rgba(3,3,3,.3);
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
    font-weight: 600;
    font-size: 15px;
    border: 1px solid #fff;
    text-transform: capitalize;
}
.w3l-slide-text p.heading_bottom{
	border: none;
	color: #eee;
	font-size: 15px;
	letter-spacing: 1px;
	font-weight: 100;
	line-height: 28px;
	width: 70%;
	margin: 0 auto;
    text-transform: lowercase;
}
 a.button-style {
    color: #d6d6d6;
    letter-spacing: 2px;
    text-shadow: 1px 1px 4.8px rgba(3,3,3,.3);
    -webkit-animation-delay: 1.1s;
    animation-delay: 1.1s;
    font-size: 15px;
    border: 1px solid #fff;
    text-transform: capitalize;
	padding: 10px 30px;
 }
 a.button-style:hover{
	background: #f85a40;
    border: 1px solid #f85a40;
 }
/*-- //banner-slider --*/

/*-- Welcome section --*/
h2.heading,h3.heading {
    font-size: 40px;
    font-weight: 700;
    color: #232323;
}
p.heading-bottom {
    color: #a6a6a6;
    letter-spacing: 2px;
    font-size: 15px;
}
.welcome_right p {
    font-size: 15px;
    letter-spacing: .5px;
    line-height: 28px;
    color: #7b7b7b;
}
.icon span.fa,.icon span.fas {
    font-size: 20px;
    width: 55px;
    height: 55px;
    line-height: 55px;
    background: #f85a40;
    color: #fff;
}
.grid_info {
    padding-left: 0;
}
.grid_info h3 {
    font-size: 20px;
    font-weight: 700;
    color: #333;
}
.welcome_right{
    z-index: 1;
}
.welcome_right:after {
    border: 5px solid #f85a40;
    content: "";
    display: inline-block;
    left: -45px;
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: -1;
}
/*-- //Welcome section --*/

/*-- Indus Fact Workers --*/
/*-- //Indus Fact Workers --*/

/*--gallery --*/
.agileinfo_work_grids{
	margin-top:1em;
}
.wthree_work_grid1{
	padding-top:10px;
}
.w3_agile_work_grid{
	padding: 0 5px;
}
.wthree_work_grid1:nth-child(1) {
    padding-top: 0!important;
}
.agile_work_grid
{
    border: 6px solid #FFFFFF;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 0px 5px #333333;
    -webkit-transition: 0.5s Ease;
    -moz-transition: 0.5s Ease;
    -o-transition: 0.5s Ease;
    transition: 0.5s Ease;  
}

.w3_agileits_sub_work
{
    color: rgba(0,0,0,0);
    line-height: 1px;
    
}
.w3_agileits_sub_work:hover {
    color: #fff;
    text-shadow: 1px 1px 2px #000;
    line-height: 165px;
}
.w3_agileits_sub_work>.agileits_electrial_work {
    position: absolute;
    top: 0px;
    left: 0;
    font-size: 2em;
    width: 100%;
}
.w3_agileits_sub_work:hover img
{
	opacity:.8;
}
.w3ls_featured_plan{
	position:relative;
}
.w3l_plans_grid{
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    opacity: 0;
    background: #000;
	-webkit-transition: all 0.2s ease-out 0s;
    -moz-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
}
.agileits_featured_plans:hover .w3l_plans_grid{
    opacity: 0.6;
}
.w3ls_featured_plan_pos{
	position:absolute;
	bottom:0%;
	left:0%;
	z-index: 9;
}
.w3ls_featured_plan_pos h4{
	background: #34b3f5;
    color: #fff;
    font-size: 1em;
    padding: .3em .5em;
}
.w3_featured_plan_bottom{
	padding: 2em;
    border: 1px solid #dcdbdb;
}
.w3_featured_plan_bottom h4 a{
	font-size:1.1em;
	color:#212121;
	text-transform:capitalize;
	text-decoration:none;
}
.w3_featured_plan_bottom h4 a:hover{
	color:#f56f19;
}
.w3_featured_plan_bottom h4 a:focus{
	outline:none;
}
.w3_featured_plan_bottom p{
	margin:1em 0 2em;
	color:#999;
	line-height:2em;
}
.w3_featured_plan_bottom ul{
	padding:2em 0 0;
	border-top: 1px solid #dcdbdb;
}
.w3_featured_plan_bottom ul li{
	display: inline-block;
    color: #212121;
    font-weight: 600;
    text-transform: uppercase;
    vertical-align: middle;
}
.w3_featured_plan_bottom ul li:first-child{
	margin-right: 1em;
    width: 15%;
    border: 3px double #999;
}
/*-- //Gallery --*/


/*-- clients --*/
.cli-ent {
    width: 100%;
    margin: 0 auto;
	background: #1b1b1b;
	padding: 2em;
}
.contact-electrial h3,
.clients h3 {
	color: #000!important;
}
.spldishes-w3left {
	padding: 2.3em;
	background-color: #fd463e;
	-webkit-transition: .5s all;
	-moz-transition: .5s all;
	-o-transition: .5s all;
	-ms-transition: .5s all;
	transition: .5s all;
}
.w3agile-spldishes p.para-agileits-electrial {
	color: #8a8888!important;
}
.spldishes-agileinfo:hover .spldishes-w3left {
	background-color: #09c4dc;
}
.spldishes-agileinfo {
	margin-top: 4em;
}
.spldishes-agileinfo h5 {
	font-size: 2em;
	color: #fff;
}
.spldishes-w3left p {
	color: #fff;
	margin-top: 1.4em;
}
.spldishes-grids {
	padding: 0;
}
.g1 {
	position: relative;
	display: block;
	padding: 0em 0em 3em;
	margin: 0em 0em 0em 1em;
}
.agile-dish-caption h4 {
    font-size: 26px;
    color: #fff;
    margin: 0.6em 0;
}
.agile-dish-caption h5 {
    font-size: 17px;
    color: #eee;
    margin: 0.6em 0;
    letter-spacing: 3px;
}
.agile-dish-caption h3 {
	font-weight: bold;
	color: #3d3d3d;
}
.agile-dish-caption span {
    margin: 0;
    padding: 0;
    font-size: 16px;
    line-height: 30px;
    color: #999;
    font-weight: 300;
    display: block;
}
#owl-demo .item img {
	width: 100px;
}
p.para-w3-agile {
	line-height: 32px;
    font-size: 14px;
    color: #bbb;
    letter-spacing: 1px;
    width: 80%;
    margin: 0 auto;
    font-weight: 100;
}
.agile-dish-caption {
    text-align: center;
}
.flexslider .slides img {
    display: inline-block;
    width: 120px;
    height: 120px;
    border: 3px solid #f85a40;
    padding: 5px;
}
.g1 p span.fa {
	font-size: 1.8em;
	color: #444;
	margin-right: 0.5em;
}
@media(max-width:480px) {
	.agile-dish-caption {
		padding: 0.5em;
	}
	.agile-dish-caption span {
		font-size: 0.8em;
	}
}
.client-eql {
	display: flex;
	-webkit-justify-content: space-between;
	justify-content: space-between;
}
/*-- //clients --*/

/* contact */
.contact-left {
    background: #1b1b1b;
    padding: 5em 0em;
    height: 370px;
}
.contact-right {
    padding-right: 0px;
}
.social-icons{
	text-align:center;
}
.social-icons i.fab.fa-twitter:hover{
    color: #fff;
	background:  #1da1f2;
}
.social-icons i.fab.fa-facebook-f:hover{
    color: #fff;
	background: #3b5998;
}
.social-icons i.fab.fa-pinterest-p:hover{
    color: #fff;
	background: #bd081c;
}
.social-icons i.fab.fa-google-plus-g:hover {
    color: #fff;
	background: #dd4b39;
}
.social-icons i.fab {
    color: #ffffff;
    background: #212121;
    width: 35px;
    font-size: 14px;
    line-height: 35px;
    height: 35px;
    border: 1px dotted #eee;
    -webkit-appearance: none; 
	-webkit-transition: 0.5s all; 
    -moz-transition: 0.5s all;
	transition: 0.5s all;
}
.contact-left address {
    margin-bottom: 20px;
}
ul {
    list-style-type: none;
}
.social-icons li {
    list-style-type: none;
    display: inline;
}
.contact-left i.fas {
    font-size: 18px;
    color: #f85a40;
    margin-right: 5px;
}
address a {
    color: #bbb;
}
address a:hover {
    color: #f85a40;
}
address p{
    font-size: 1em;
    color: #eee;
	line-height:2em;
	letter-spacing: 1px;
	font-family: 'Montserrat', sans-serif;
}
iframe {
    width: 100%;
    border: none;
    height: 370px;
}
.map {
    -webkit-filter: grayscale(100%);
    -moz-filter: grayscale(100%);
    -ms-filter: grayscale(100%);
    -o-filter: grayscale(100%);
    filter: grayscale(100%);
}
.contact-wthree input[type="text"],.contact-wthree input[type="email"],.contact-wthree input[type="password"],.contact-wthree textarea {
    width: 80%;
    color: #000;
    background: none;
    outline: none;
    font-size: 14px;
    letter-spacing: 2px;
    padding: 1em;
	margin-right: .5em;
    margin-bottom: 1em;
    box-sizing: border-box;
    border: solid 1px #999;
    -webkit-appearance: none; 
	-webkit-transition: 0.5s all; 
    -moz-transition: 0.5s all;
	transition: 0.5s all;
}
.contact-wthree input[type="email"],.contact-wthree input[type="password"] {
    margin-right: 0;
}
.contact-wthree ::-webkit-input-placeholder{
	color:#666 !important;
}
.contact-wthree textarea {
    resize: none;
    width: 80%;
    padding: .6em 1em;
    min-height: 10em;
}
.contact-wthree input[type="submit"] {
    outline: none;
    color: #fff;
    padding: 0.6em 3em;
    font-size: 1em;
	font-weight: 600;
    -webkit-appearance: none;
    background: #f85a40;
    border: none;
	color:#fff;
    -webkit-transition: 0.5s all; 
    -moz-transition: 0.5s all;
	transition: 0.5s all;
    cursor: pointer;
    letter-spacing: 2px;
}
.contact-wthree input[type="submit"]:hover {
    background: #2b2b2b;
}
.contact-wthree {
    /*margin: 3em 0em 0;*/
    width: 100%;
    margin-bottom: 10px;
}
/*-- //contact --*/

/*-- inner_page_banner --*/
.inner_page_banner{
	background: url(../images/ban2.jpg) no-repeat 0px 0px;
	background-size: cover;
	min-height: 250px;
}
.inner_page_banner h4,.inner_page_banner h4 a{
    font-size: 17px;
    color: #fff;
    font-weight: 600;
    text-shadow: 2px 2px 3px #292828;
}
.inner_page_banner h4 a:hover{
    color: #f85a40;
}

h2.page_heading {
    font-size: 45px;
    font-weight: 700;
    color: #fff;
    text-shadow: 2px 2px 3px #292828;
}
/*-- //inner_page_banner --*/

/*-- about page --*/

/*-- //about page --*/

/*-- footer --*/
.footer-top {
    background: #1b1b1b;
}
.footer-grid h3, .footer-list h3, .agile-footer-grid h3 {
    font-size: 1.4em;
    color: #fff;
    font-weight: 700;
}
.footer-logo  a {
    color: #FFFFFF;
    font-size: 2em;
	font-weight:600;
    text-decoration: none;
}
.footer-grid p {
    color: #bbbbbb;
    font-size: .9em;
    line-height: 1.8em;
    font-family: 'Montserrat', sans-serif;
}
.footer-grid ul, .footer-list ul {
    padding: 0;
    margin: 0;
}
.footer-logo li {
    display: inline-block !important;
}
.footer-logo ul li a {
    color: #bbb;
    font-size: 1.2em;
    text-decoration: none;
    padding-right: 15px;
}
.footer-list ul li {
    color: #bbb;
    font-size: 1em;
}
.footer-grid span.fa {
    margin-right: 10px;
}
.footer-grid span.addr {
    padding-left: 28px;
}
.footer-grid ul li a,.footer-grid ul li {
    color: #aaa;
    font-size: 15px;
    text-decoration: none;
    line-height: 2em;
	letter-spacing: .5px;
    padding: 1px 0;
}
.footer-grid ul li a:hover{
    color: #f85a40;
}
.agile-footer-grid ul {
    padding: 0;
    margin: 0;
}
ul.w3agile_footer_grid_list li {
    list-style-type: none;
    color: #bbbbbb;
    line-height: 1.8em;
    font-size: 1em;
}
ul.w3agile_footer_grid_list li a {
    color: #ff9900;
    text-decoration: none;
}
ul.w3agile_footer_grid_list li span {
    display: block;
    margin: 1em 0 0;
}
ul.w3agile_footer_grid_list i.fa.fa-twitter {
    margin-right: 1em;
}
.agile-footer-grid input[type="email"],.agile-footer-grid input[type="text"]{
	outline:none;
    padding: 11px 20px;
	background:#fff;
	border:none;
	font-size:14px;
	color:#212121;
    margin-top: 1em;
	width:100%;
}
.agile-footer-grid input[type="submit"] {
    outline: none;
    padding: 11px 20px;
    border: none;
    font-size: 14px;
    color: #fff;
    margin: 1em 0 0;
    border: 2px solid #146eb4;
    width: 100%;
    text-align: left;
    text-transform: uppercase;
    background-color: #146eb4;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}
.agile-footer-grid input[type="submit"]:hover{
    border: 2px solid #ffffff;
    background-color: transparent;
}
.footer-logo a {
    color: #FFFFFF;
    font-size: 2em;
    font-weight: 600;
    text-decoration: none;
}
.footer-grid p {
    color: #aaa;
    font-size: 15px;
    line-height: 1.8em;
    letter-spacing: .5px;
}
address {
    margin-bottom: 0;
}
.wthree_copy_right p {
    text-align: center;
    color: #eee;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: 'Montserrat', sans-serif;
}
.wthree_copy_right {
    background: #f85a40;
}
.wthree_copy_right a {
    color: #fff;
}
.w3_agileits_footer_grid_left {
    padding: 0;
    border: 2px solid #1b1b1b;
}
.insta{
	margin: 0;
}
/*-- //footer --*/

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #aaa;
}
::-moz-placeholder { /* Firefox 19+ */
  color: #aaa;
}
::-ms-input-placeholder { /* IE 10+ */
  color: #aaa;
}
::-moz-placeholder { /* Firefox 18- */
  color: #aaa;
}


/*-- about-team --*/
.team-row-agileinfo{
  margin: 4em 0;
} 
.social-icon.social-w3lsicon a {
    margin: 0 0.5em;
}
.thumbnail.team-agileits {
    border: none;
    border-radius: 0;
    position: relative;
    margin: 0;
    padding: 0;
}
.team .w3agile-caption {
    padding: 1.5em;
    position: absolute;
    bottom: -17%;
    background: #fff;
    width: 80%;
    left: 10%;
    z-index: 9;
	-webkit-box-shadow: 0px 2px 3px #ccc;
	-moz-box-shadow: 0px 2px 3px #ccc; 
    box-shadow: 0px 2px 3px #ccc;
	height: 30%;
	-webkit-transition: .5s all;
	-moz-transition: .5s all; 
	transition: .5s all; 
}
.team h4 { 
    color: #f85a40;
    font-size: 1.3em; 
}
.team p {
    font-size: 15px;
    letter-spacing: 1px;
    color: #777;
}
.team .social-w3lsicon {
    padding: .5em; 
	margin-top: 0.4em;
	background:#1b1b1b;
	-webkit-transition: .5s all;
	-moz-transition: .5s all; 
	transition: .5s all;
	-webkit-transform: scale(1,0);
	-moz-transform: scale(1,0);
	-o-transform: scale(1,0);
	-ms-transform: scale(1,0);
	transform: scale(1,0);
}
.team .social-w3lsicon a {  
	-webkit-transition-delay: .2s;
	-moz-transition-delay: .2s;
	-o-transition-delay: .2s;
	-ms-transition-delay: .2s;
	transition-delay: .2s;
}
.thumbnail.team-agileits:hover .social-w3lsicon {
	-webkit-transform: scale(1);
	-moz-transform: scale(1); 
	-o-transform: scale(1); 
	-ms-transform: scale(1); 
	transform: scale(1); 
}
.thumbnail.team-agileits:hover .w3agile-caption {
    height: 49%;
}
.social-icon a {
    font-size: 15px;
    color: #fff;
    margin: 0 1.5em;
    border: 1px solid transparent;
    display: inline-block;
    text-align: center;
    position: relative;
    z-index: 999;
    -webkit-transition: .5s all;
    -moz-transition: .5s all;
    -o-transition: .5s all;
    -ms-transition: .5s all;
    transition: .5s all;
}
.social-icon a:hover {
    color: #1da1f2;
	-webkit-transform: scale(1.3);
	-moz-transform: scale(1.3);
	-o-transform: scale(1.3);
	-ms-transform: scale(1.3);
    transform: scale(1.3);
}
.social-icon a.twit:hover {
    color: #1da1f2; 
}
.social-icon a.social-button.fb:hover {
	color: #3b5998;
}
.social-icon a.social-button.ggl:hover {
	color: #dd4b39;
}
.social-icon a.social-button.drbl:hover {
	color: #ea4c89;
}
.social-icon a.social-button.be:hover {
	color: #1769ff;
}
.social-icon a.social-button.in:hover {
	color: #0077b5;
}
/*-- //about-team --*/

/*-- services --*/
.agile_wthree_inner_grids {
    margin-top: 5em;
}
.agileits-button.two a, .agileits-button a {
    padding: 0.5em 0em;
    color: #f85a40;
    font-size: 15px;
    letter-spacing: 1px;
    background: none;
    border: none;
    border-radius: 0;
}
.btn-primary:focus, .btn-primary.focus {
    box-shadow: 0 0 0 0.2rem rgba(255, 255, 255, 0.5);
}
/* Underline From Left */

.hvr-underline-from-left {
    display: inline-block;
    vertical-align: middle;
    -webkit-transform: perspective(1px) translateZ(0);
    transform: perspective(1px) translateZ(0);
    box-shadow: 0 0 1px transparent;
    position: relative;
    overflow: hidden;
}

.hvr-underline-from-left:before {
    content: "";
    position: absolute;
    z-index: -1;
    left: 0;
    right: 100%;
    bottom: 0;
    background: #ff4c4c;
    height: 2px;
    -webkit-transition-property: right;
    transition-property: right;
    -webkit-transition-duration: 0.3s;
    transition-duration: 0.3s;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out;
}

.hvr-underline-from-left:hover:before,
.hvr-underline-from-left:focus:before,
.hvr-underline-from-left:active:before {
    right: 0;
}
.wthree_banner_bottom_grid_right h4 {
    font-size: 20px;
    letter-spacing: 0px;
    font-weight: 600;
    color: #333;
}
.wthree_banner_bottom_grid_right p {
    line-height: 28px;
    font-size: 14px;
    color: #676767;
    letter-spacing: 1px;
}
.agileits_banner_bottom_left {
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.agile_banner_bottom_grid_left_grid i {
    font-size: 22px;
    color: #fff;
    background: #f85a40;
    width: 60px;
    height: 60px;
    line-height: 60px;
}
.w3_agileits_banner_bottom_pos_grid:hover i {
    color: #333;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-o-transition: 0.5s all;
}
/*-- //services --*/

/*-- middle services --*/
section.middle {
    background: url(../images/g4.jpg) no-repeat 0px 0px;
    background-size: cover;
    background-attachment: fixed;
}
.middle h3{
    font-size: 30px;
    color: #fff;
    letter-spacing: 1px;
    font-weight: 600;
}
.middle  p {
    color: #a6a6a6;
    letter-spacing: 2px;
    font-size: 15px;
}
.layer {
    background: rgba(0, 0, 0, 0.6);
}
.contactus a {
    font-size: 14px;
    color: #1b1b1b;
    background: #fff;
    padding: 12px 30px;
    letter-spacing: 1px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.contactus a:hover {
    background: #f85a40;
	color: #fff;
}
/*-- //middle services --*/

/*--  other services --*/
.servicegrid h3 {
    background: #1b1b1b;
    color: #fff;
    font-size: 20px;
    letter-spacing: 1px;
	margin-top:1px;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.servicegrid:hover h3 {
    background: #f85a40;
	transition: 0.5s all;
	-webkit-transition: 0.5s all;
	-moz-transition: 0.5s all;
	-ms-transition: 0.5s all;
	-o-transition: 0.5s all;
}
.servicetextgrid h3 {
    color: #222;
    font-size: 30px;
}
.servicetextgrid p.para {
    color: #a6a6a6;
    letter-spacing: 2px;
    font-size: 15px;
    margin: 10px 0;
}
.servicetextgrid p {
    line-height: 28px;
    font-size: 14px;
    color: #676767;
    letter-spacing: 1px;
}
.servicetextgrid .read a {
    font-size: 14px;
    background: #333;
    color: #fff;
    padding: 12px 30px;
    letter-spacing: 1px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}

.servicetextgrid .read a:hover {
    background: #f85a40;
	color: #fff;
}
/*-- // other services --*/

/*--Typography--*/
p.card-text {
    font-size: 15px;
}
.form_main>.form-control+.form-control {
    margin-top: .5rem;
}
.carousel h3,.cards h3 {
    font-size: 30px;
    color: #333;
}
.form_main h3,.carousel_grid h3, .card_grid h3{
    font-size: 26px;
    color: #f8593e;
}
 .card_grid h3{
    font-size: 22px;
    color: #f8593e;
}
.form_main .btn-primary {
    margin-top: 1rem;
}

/*-- //typography --*/

/*-- Error page --*/
.error_content span.fas {
    font-size: 70px;
    color: #f8593e;
}
.error_content p {
    font-size: 14px;
    letter-spacing: 1px;
    line-height: 28px;
}
.error_content form{
	display: flex;
    width: 50%;
}
form input[type="search"] {
    outline: none;
    border: 1px solid #c4c5c5;
    background: none;
    color: #212121;
    padding: 10px 15px;
    width: 80%;
    box-sizing: border-box;
    font-size: 14px;
    letter-spacing: 2px;
}

button.btn1 {
    color: #fff;
    border: none;
    padding: 10px 0;
    text-align: center;
    cursor: pointer;
    text-decoration: none;
    background: #232323;
    -webkit-transition: 0.5s all;
    -moz-transition: 0.5s all;
    -o-transition: 0.5s all;
    -ms-transition: 0.5s all;
    transition: 0.5s all;
    width: 20%;
    box-sizing: border-box;
}
a.home {
    background: #333;
    padding: 10px 20px;
    display: inline-block;
    color: #FFF;
    text-decoration: none;
    font-size: 14px;
	letter-spacing:1px;
}
a.home:hover,button.btn1:hover{
    background: #f8593e;
}
/*-- //Error page --*/

/*-- why --*/
.why{
	background:url(../images/1.jpg) no-repeat 0px 0px;
	background-size: cover;
}
.why-grid h3 {
    font-size: 20px;
    font-weight: 600;
    color: #eee;
    letter-spacing: 1px;
}
.why-grid p {
    font-size: 15px;
    letter-spacing: .5px;
    line-height: 28px;
    color: #bbb;
}
.why-grid .agileits-button.two a {
    color: #fff;
}
.why  h3.heading{
    color: #fff;
}
/*-- //why --*/
/*-- gallery page --*/
.gallery1 p{
    font-size: 14px;
    letter-spacing: .5px;
    line-height: 28px;
    color: #7b7b7b;
}
.gallery1 h3 {
    color: #404040;
    line-height: 35px;
    letter-spacing: 1px;
}
.gallery1 .read a {
    font-size: 14px;
    background: #333;
    color: #fff;
    padding: 12px 30px;
    letter-spacing: 1px;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
}
.gallery1 .read a:hover {
    background: #f85a40;
    color: #fff;
}
/*-- //gallery page --*/

/*-- about --*/
.about h4 {
    font-size: 26px;
    color: #232323;
    margin-bottom: 15px;
}
.banner_bottom_left p {
    font-size: 14px;
    letter-spacing: .5px;
    line-height: 28px;
    color: #7b7b7b;
	margin: 10px 0;
}
/*-- stats --*/
.numscroller {
    font-size: 40px;
    color: #fff;
    font-weight: 600;
}
.stats-grid p {
    color: #eee;
    letter-spacing: 1px;
    font-size: 15px;
}
.stats-info-agile p {
    color: #000;
    font-size: 16px;
}
.w3l-right-stats {
    background: #f85a40;
}
/*-- //stats --*/
/*-- //about --*/

/*-- Newsletter --*/
.newsletter input[type="email"] {
    outline: none;
    color: #fff;
    padding: 13px 25px;
    font-size: 1em;
    width: 80%;
	box-sizing: border-box;
    background: none;
    border: none;
    background: #1d1b1b;
    letter-spacing: 1px;
    font-family: 'Montserrat', sans-serif;
}
.newsletter input[type="submit"] {
    outline: none;
    color: #fff;
    padding: 13px 0;
    font-size: 1em;
	font-weight: 600;
    width: 19%;
    background: #f85a40;
	cursor: pointer;
    border: none;
	box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}
.newsletter  form {
    width: 70%;
    margin: 0 auto;
}
/*-- //Newsletter --*/

/*-- to-top --*/
#toTop {
	display: none;
	text-decoration: none;
	position: fixed;
	bottom: 20px;
	right: 2%;
	overflow: hidden;
	z-index: 999; 
	width: 40px;
	height: 40px;
	border: none;
	text-indent: 100%;
	background: url(../images/arr.png) no-repeat 0px 0px;
}
#toTopHover {
	width: 40px;
	height: 40px;
	display: block;
	overflow: hidden;
	float: right;
	opacity: 0;
	-moz-opacity: 0;
	filter: alpha(opacity=0);
}
/*-- //to-top --*/

/*-- Responsive Design --*/

@media(max-width: 1366px){
	.electrial-banner-top {
		min-height: 580px;
	}
	.w3l-slide-text {
		margin-top: 11em;
	}
	.w3l-slide-text h3 {
		font-size: 50px;
		letter-spacing: 2px;
	}
}
@media(max-width: 1080px){
	.headder-w3 a {
		font-size: 34px;
	}
	.wthree_banner_bottom_grid_right h4 {
		font-size: 17px;
	}
	.wthree_banner_bottom_grid_right p {
		letter-spacing: 0.5px;
	}
	.w3_agileits_sub_work:hover {
		line-height: 135px;
	}
	.footer-grid span.fa {
		margin-right: 8px;
	}
	.footer-grid span.addr {
		padding-left: 0;
	}
	.footer-grid h3, .footer-list h3, .agile-footer-grid h3 {
		font-size: 1.3em;
	}
	.contact-wthree input[type="text"] {
		margin-right: .3em;
	}
	.why-grid h3 {
		font-size: 18px;
		letter-spacing: 0px;
	}
	.why-grid p {
		font-size: 14px;
	}
	.middle h3 {
		font-size: 27px;
	}
}
@media(max-width: 991px){
	.w3l-slide-text h3 {
		font-size: 42px;
		letter-spacing: 1px;
	}
	.w3l-slide-text p.heading_bottom {
		width: 90%;
	}
	.electrial-banner-top {
		min-height: 520px;
	}
	.w3l-slide-text {
		margin-top: 9em;
	}
	.indexgallery .w3_agileits_sub_work:hover {
		line-height: 210px;
	}
	.col-6 team-grids {
		padding: 0 3px;
	}
	.team .w3agile-caption {
		width: 90%;
		left: 5%;
		height: 37%;
		padding: 1em;
	}
	.team h4 {
		font-size: 1.2em;
	}
	.team p {
		letter-spacing: 0px;
	}
	.numscroller {
		font-size: 35px;
	}
	.servicegrid h3 {
		font-size: 17px;
		letter-spacing: 0px;
	}
	.contact-wthree input[type="text"] {
		margin-right: .2em;
	}
	.welcome_right:after {
		left: 0px;
	}
	.servicegrid {
		padding: 0 5px;
	}
	h2.heading, h3.heading {
		font-size: 30px;
	}
	.contact-left {
		padding: 3em 0em;
		height: 320px;
	}
	iframe {
		height: 320px;
	}
	li.nav-item {
		text-align: center;
	}
	.dropdown-menu {
		padding: 0;
		color: #fff;
		border: 1px transparent;
		background-color: transparent;
	}
	.dropdown-item {
		color: #fff;
		text-align: center;
	}
	.dropdown-item:hover, .dropdown-item:focus {
		background-color: transparent;
	}
	.headder-w3 a {
		font-size: 26px;
	}
}
@media(max-width: 800px){
	.inner_page_banner {
		min-height: 200px;
	}
	h2.page_heading {
		font-size: 35px;
	}
	h6.caption {
		font-size: 17px;
	}
	.email-right p a, .w3-header-top-right-text p, .agileinfo-social-grids ul li a {
		font-size: 13px;
	}
	.headder-w3 a {
		font-size: 26px;
	}
}
@media(max-width: 736px){
	.contact-wthree input[type="text"], .contact-wthree input[type="email"], .contact-wthree input[type="password"], .contact-wthree textarea {
		margin-right: 0;
		width: 100%;
		letter-spacing: 1px;
	}
	.w3l-slide-text h3 {
		font-size: 32px;
		letter-spacing: 0px;
	}
	.w3l-slide-text p.heading_bottom {
		width: 100%;
	}
	.w3l-slide-text p {
		letter-spacing: 2px;
		font-size: 14px;
	}
	.indexgallery .w3_agileits_sub_work:hover {
		line-height: 150px;
	}
	.agile-dish-caption h4 {
		font-size: 22px;
	}
	p.para-w3-agile {
		line-height: 30px;
		width: 90%;
	}
	.team .w3agile-caption {
		height: 25%;
		bottom: -10%;
	}
	.thumbnail.team-agileits:hover .w3agile-caption {
		height: 44%;
	}
	.newsletter form {
		width: 90%;
		margin: 0 auto;
	}
	.w3_agileits_sub_work>.agileits_electrial_work {
		font-size: 1.5em;
	}
	.w3_agileits_sub_work:hover {
		line-height: 95px;
	}
	.contact-right {
		padding: 0;
	}
	.inner_page_banner {
		min-height: 170px;
	}
	.headder-w3, .w3-header-top-right-text, .email-right, .agileinfo-social-grids {
		width: 50%;
		padding-bottom: 10px;
		float: left;
	}
	.headder-w3 a {
		font-size: 30px;
	}
}
@media(max-width: 667px){
	.gallery1 h3 {
		line-height: 20px;
		font-size: 25px;
	}
}
@media(max-width: 600px){
	h2.page_heading {
		font-size: 30px;
	}
	.inner_page_banner h4, .inner_page_banner h4 a {
		font-size: 14px;
	}
	p.para-w3-agile {
		line-height: 28px;
		width: 100%;
	}
	.middle h3 {
		font-size: 24px;
	}
	.middle p {
		font-size: 14px;
	}
}
@media(max-width: 568px){
	.electrial-banner-top {
		min-height: 450px;
	}
	h2.page_heading {
		font-size: 28px;
	}
	.w3l-slide-text {
		margin-top: 6em;
	}
	.w3l-slide-text p.heading_bottom {
		width: 90%;
	}
	.inner_page_banner {
		min-height: 120px;
	}
	.error h3 {
		font-size: 24px;
	}
	.servicetextgrid h3 {
		font-size: 28px;
	}
	.contact-left {
		height: auto;
	}
}
@media(max-width: 480px){
	.w3l-slide-text h3 {
		font-size: 26px;
	}
	.w3l-slide-text p {
		letter-spacing: 1px;
		font-size: 13px;
	}
	.w3l-slide-text p.heading_bottom {
		font-size: 14px;
	}
	.servicetextgrid h3 {
		font-size: 25px;
	}
	.grid_info h3 {
		font-size: 17px;
	}
	.icon span.fa, .icon span.fas {
		font-size: 20px;
		width: 50px;
		height: 50px;
		line-height: 50px;
	}
	.indexgallery .w3_agileits_sub_work:hover {
		line-height: 130px;
	}
	.agile-dish-caption h5 {
		font-size: 14px;
		letter-spacing: 2px;
	}
	.agile-dish-caption h4 {
		font-size: 20px;
	}
	.team .w3agile-caption {
		height: 32%;
		bottom: -13%;
		padding: 1em;
	}
	.newsletter form {
		width: 100%;
		margin: 0 auto;
	}
}
@media(max-width: 414px){
	.w3l-slide-text {
		margin-top: 4em;
	}
	.w3l-slide-text h3 {
		font-size: 25px;
	}
	.newsletter input[type="email"] {
		padding: 12px 15px;
		font-size: .875em;
		width: 79%;
	}
	.newsletter input[type="submit"] {
		padding: 12px 0;
		font-size: .875em;
	}
	.footer-grid h3, .footer-list h3, .agile-footer-grid h3 {
		font-size: 1.2em;
	}
	.middle h3 {
		font-size: 21px;
	}
	.gallery1 h3 {
		letter-spacing: 0px;
	}
	address p {
		font-size: .9em;
	}
	.indexgallery .w3_agileits_sub_work:hover {
		line-height: 110px;
	}
	h2.heading, h3.heading {
		font-size: 27px;
	}
	p.heading-bottom {
		font-size: 14px;
	}
	.wthree_copy_right p {
		letter-spacing: 1px;
	}
	.about h4 {
		font-size: 22px;
	}
	iframe {
		height: 250px;
	}
	.contact-wthree input[type="text"], .contact-wthree input[type="email"], .contact-wthree input[type="password"], .contact-wthree textarea {
		font-size: 13px;
	}
	.contact-wthree textarea {
		min-height: 9em;
	}
	.modal-title {
		font-size: 26px;
	}
	.electrial-banner-top {
		min-height: 420px;
	}
	.headder-w3 a {
		font-size: 26px;
	}
}
@media(max-width: 384px){
	.social-icon a {
		font-size: 13px;
	}
	.team .social-w3lsicon {
		padding: .2em;
	}
	.w3l-slide-text h3 {
		font-size: 23px;
	}
	.w3l-slide-text p.heading_bottom {
		font-size: 13px;
		line-height: 26px;
	}
	a.button-style {
		letter-spacing: 1px;
		font-size: 14px;
		padding: 8px 25px;
	}
	.indexgallery .w3_agileits_sub_work:hover {
		line-height: 100px;
	}
	.servicetextgrid h3 {
		font-size: 22px;
	}
	.gallery1 h3 {
		font-size: 23px;
	}
	h2.page_heading {
		font-size: 24px;
	}
	.inner_page_banner h4, .inner_page_banner h4 a {
		font-size: 13px;
	}
	.error h3 {
		font-size: 22px;
	}
	.error_content form {
		width: 80%;
	}
	.headder-w3, .w3-header-top-right-text, .email-right, .agileinfo-social-grids {
		width: 100%;
		padding-bottom: 5px;
		float: none;
	}
}
@media(max-width: 375px){
	.indexgallery .w3_agileits_sub_work:hover {
		line-height: 90px;
	}
	.team h4 {
		font-size: 1em;
	}
	.team p {
		font-size: 14px;
	}
	.w3l-slide-text h3 {
		font-size: 22px;
	}
}
@media(max-width: 1680px){
	
}
@media(max-width: 1680px){
	
}
@media(max-width: 1680px){
	
}

/*-- //Responsive Design --*/